.lead {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 56px auto 0;
}

@media screen and (max-width: 1140px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    max-width: 320px;
}
}